accounts.json
queue-run.log
__pycache__/
*.pyc
images/*.html
images/health_test.png
images/html_test.png
images/ai_test.png
images/style_test_*.png
images/2026-*.png
deleted_reels_backup.json
deleted_hd_reels_backup.json
deleted_hd_duplicate_reels_backup.json
hd_build_week1.lock
